* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Bungee Spice', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Nabla', cursive;
font-family: 'Permanent Marker', cursive; */

body {
  background-color: #393e46;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.header {
  height: 5vh;
  background-color: #222831;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  font-family: "Bungee Spice", cursive;
  font-size: 32px;
}

.game-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  margin-top: 30px;
  text-align: center;
  min-height: 160px;
  font-family: "Permanent Marker", cursive;
}

.game-title > h1 {
  font-size: 48px;
}
.game-title > h3 {
  font-size: 26px;
}

.game-cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  cursor: pointer;
}
.card {
  width: 180px;
  height: 240px;
  background-color: #222831;
  font-size: 64px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.card.rock {
  position: relative;
  left: -40px;
  top: 50px;
  transform: rotate(-25deg);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card.rock:hover {
  transform: translate(-5px, -10px) rotate(-25deg);
  box-shadow: -6px 8px 10px rgba(0, 0, 0, 0.2);
}

.card.scissors {
  position: relative;
  left: 40px;
  top: 50px;
  transform: rotate(25deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card.scissors:hover {
  transform: translate(5px, -10px) rotate(25deg);
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.2);
}
.card.paper {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card.paper:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
.game-score {
  display: flex;
  gap: 30px;
  font-size: 84px;
  margin-top: 40px;
  font-family: "Permanent Marker", cursive;
  color: #eeeeee;
}

.player-score,
.pc-score {
  min-width: 80px;
  text-align: center;
}

.player-choice,
.pc-choice {
  flex: 1;
  text-align: center;
  font-size: 124px;
}

.btn {
  width: 80px;
  padding: 5px;
  margin-top: 10px;
  background-color: #eeeeee;
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.noHover {
  pointer-events: none;
}
